# Données du modele d'apprentissage

* Missions
* Experience
* Tarifs
* Région
* Compétences
* SuperMalter

# Nettoyage final du fichier csv pour notre ML

In [1]:
import pandas as pd
import ast



df_cities = pd.read_csv('../scrapping/data/cities.csv')
df_malt = pd.read_csv('../scrapping/data/sample.csv')

# Convertir la colonne 'location' de chaîne en dictionnaire et extraire la ville
def extract_city(location_str):
    try:
        location_dict = ast.literal_eval(location_str)
        city_country = location_dict.get('Localisation', '')
        city = city_country.split(',')[0].strip()
        return city
    except:
        return None

df_malt['Ville'] = df_malt['location'].apply(extract_city)


# Suppression des colonnes inutiles
columns_to_drop = ['name', 'location', 'presentation', 'recommendations', 
                   'teletravail_preference',  'categories', 'response_time',
                     'response_rate', 'headline']
df_malt = df_malt.drop(columns=columns_to_drop)

# Nettoyage de la colonne 'price'
df_malt['price'] = df_malt['price'].str.replace('€', '').str.replace('\u202f', '').str.replace(r'\D', '', regex=True).astype(int)

# Remplacer les valeurs de la colonne 'supermalter'
df_malt['supermalter'] = df_malt['supermalter'].apply(lambda x: 1 if x == 'Supermalter' else 0)


df_malt.to_csv('../scrapping/data/Clean.csv', index=False)

# Visualisation

In [5]:
import pandas as pd

df_cities = pd.read_csv('../Data/Clean.csv')
df_cities

,price,experience,missions,competences,supermalter,Ville,Region_Name
0,250,8-15 ans,1 158,"['Traduction Français Anglais', 'Traduction Fr...",1,Paris,île-de-france
1,400,15 ans et +,351,"['Emailing', 'Intégration Emailing', 'Bannière...",1,Paris,île-de-france
2,260,8-15 ans,1 085,"['Conception rédaction', 'Copywriting', 'Rédac...",1,Paris,île-de-france
3,250,3-7 ans,265,"['Rédaction web', 'Copywriting', 'Landing page...",1,Paris,île-de-france
4,260,3-7 ans,148,"['Sous-titrage', 'Montage vidéo', 'Adobe Premi...",0,Paris,île-de-france
...,...,...,...,...,...,...,...
195,450,15 ans et +,133,"['Edition', 'Illustration', 'Graphisme', 'Mise...",1,Fontainebleau,île-de-france
196,200,8-15 ans,139,"['Voix off femme', 'voix off', 'Doublage', 'Vo...",1,Paris,île-de-france
197,350,3-7 ans,11,"['création site web', 'Création site e-commerc...",0,Paris,île-de-france
198,400,8-15 ans,114,"['Videaste', 'Realisateur', 'Réalisation vidéo...",1,Paris,île-de-france
199,550,8-15 ans,17,"['Motion design', 'Pédagogie', 'Enregistrement...",1,Paris,île-de-france